<!--
  Generated template for the FeedLandingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar>
      <button ion-button menuToggle color="dark">
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>{{name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content #content no-padding>
    <div ion-fixed style="z-index: 0;">
        <img style="width:100vw; height:100vh; position:cover;" src="./assets/imgs/bg-contact.jpg" />
      </div>
    <ion-card>
        <ion-item>
            <h3><b>{{feed.name}}</b></h3>
            <p style="text-indent: 0;">{{feed.irid}}</p>
        </ion-item>
        <div class="desc" [innerHtml]="feed.message" *ngIf="feed.message != ''">
          </div>
          <img [src]="feed.images[0].imageLink" style="width: 100vw;" *ngIf="feed.images?.length == 1" />
        <ion-slides style="width: 100vw;background-color:#465f5a;" [pager]="true" *ngIf="feed.images?.length > 1" [dir]="isRtl">
            <ion-slide class="slide" *ngFor="let img of feed.images">
              <img [src]="img.imageLink" style="width: 100vw;" />
            </ion-slide>
          </ion-slides>
          <div style="padding: 3px 6px">
                <button class="action-button" ion-button color="primary" clear (click)="addRemoveLike(feed.Id, feed.irid, 'like')" *ngIf="!feed.isLiked">
                <ion-icon name='custom-heart-outline'></ion-icon>
              </button>
              <button class="action-button" ion-button color="primary" clear (click)="addRemoveLike(feed.Id, feed.irid, 'unlike')" *ngIf="feed.isLiked">
                  <ion-icon name='custom-heart'></ion-icon>
                </button>
                <button class="action-button" ion-button color="primary" clear (click)="setfocus()" [disabled]="!permited">
                <ion-icon name='custom-comment'></ion-icon>
              </button>
              <!--
              <button class="action-button save-feed" ion-button color="primary" clear (click)="removeToFavorite(feed)" *ngIf="feed.fave">
                  <ion-icon name='custom-save-full'></ion-icon>
                </button>
              <button class="action-button save-feed" ion-button color="primary" clear (click)="addToFavorite(feed)" *ngIf="!feed.fave">
                  <ion-icon name='custom-save'></ion-icon>
                </button>
                -->
            </div>
            <ion-card-content>
                <p style="font-size: 3vw; display: inline-block;" *ngIf="feed.likes != '0'">{{feed.likes}} {{'LIKES'|translate}}</p>
                <p style="font-size: 3vw; margin: 0 7px 2px; display: inline-block" *ngIf="feed.comments != '0'">{{feed.commentsNum}} {{'COMMENTS' | translate}}</p>
                <p style="font-size: 2.5vw;color: #8e9093;">{{feed.CreatedOn}}</p>
              </ion-card-content>  
      </ion-card><div class="comments" *ngIf="feed.comments?.length > 0">
        <p style="text-transform:capitalize;">{{'COMMENTS' | translate}}</p>
        <div class="comment-blocks" *ngFor="let c of feed.comments | slice:0:end;">
          <p class="name">{{c.name}}</p>
          <div class="comm" [innerHtml]="c.comment"></div>
        </div>
      </div>
</ion-content>
<ion-footer *ngIf="permited">
    <ion-toolbar>
        <ion-row>
          <ion-col col-10>
            <ion-input #cInput type="text" placeholder="Leave a comment" [(ngModel)]="message"></ion-input>
          </ion-col>
          <ion-col col-2 style="text-align:center;">
            <ion-buttons>
              <button clear ion-button icon-only (click)="sendMessage()" color="primary"><ion-icon name="md-send"></ion-icon></button>
            </ion-buttons>
          </ion-col>
        </ion-row>
    </ion-toolbar>
  </ion-footer>