page-feed {
    @media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
        ion-content{
            div.scroll-content{
                margin-top: 88px !important;
                padding-top: 0px !important;
            }
        }
        .post-here{
            margin-top: 0px !important;
        }
    }
    
    ion-title{
        div{color:map-get($colors, primary) !important;}
    }
    ion-content {
        background-image: url("../assets/imgs/bg-contact.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        .scroll-content{
            background-color: rgba(245, 245, 245, 0.5) !important;
        }
    }
    .swiper-container-horizontal > .swiper-pagination-bullets{
        bottom: -5.5vw !important;
    }
    .swiper-container{
        overflow: visible !important;
    }
    .slide{
        overflow: hidden !important;
    }
    ion-slide{
        position: absolute;
        top:0;
        bottom: 0;
        margin: auto;
        height: 100%;
    }
    .swiper-pagination{
        
        // display: block !important;
        .swiper-pagination-bullet-active
        {
            background: map-get($colors , secondary ) !important;
        }
    }
    .action-button{
        height: 6vw !important;
        display: inline-block !important;
        width: 6vw !important;
        padding: 0!important;
        margin: 0 10px !important;
        span{
            font-size: 3.5vw !important
        }
    }
    .save-feed{
        float: right;
    }
    ion-card{
        margin: 0 0 20px 0 !important;
        width: 100vw !important;
        ion-label{
            h3{
                font-size: 4vw!important;
            }
            margin: 0 !important;
            p{
                text-indent: 0 !important;
                font-size: 2.5vw !important;
            }
        }
        .desc{
            padding: 16px 20px !important;
        }
        ion-card-content{
            padding: 5px 20px !important;
            p{
                text-indent: 0 !important;
            }
        }
        
    }
    .post-here{
        margin-bottom: 10px;
        background: white;
        padding: 16px;
        margin-top: 73px;
        .post-desc{
            color: rgba(0, 0, 0, 0.4);
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 9px;
            font-size: 4vw;
            position: relative;
            p{
                position: absolute;
                height: fit-content;
                margin: auto;
                width: 100%;
                padding: 0 14px;
                top: 0;
                bottom: 0;
            }
        }
        .img-logo{
            font-size: 7vw;
            text-align: center;
            padding: 0 5px;
            color: rgba(31, 29, 55, 0.60);
        }
    }
      
      @media (min-width: 992px) {
          h3{
              font-size: 40px !important;
          }
        [col-10]{
            font-size: 30px!important; 
        }
        [col-2]{
            font-size: 40px!important; 
        }
      }
      
      @media (min-width: 1200px) {
        [col-10]{
            font-size: 30px!important; 
        }
        [col-2]{
            font-size: 40px!important; 
        }
      }
      

}
