page-newslanding {
    @media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
        .page-title-header{
            height: 18vh !important;
            img{
                height: 18vh !important;
            }
        }
        .news-h::after{
            height: 17.5vh !important;
        }
    }
    a{
        color: map-get($colors,secondary ) !important;
        text-decoration: underline !important;
    }
    .news-h{
        h1{
            top: 0;
            bottom: 0;
        }
    }
    .news-h::after{
        margin-top: 0.5vh;
        height: 14.5vh;
    }
    .news-date{
        text-align: center;
        text-indent: 0;
        font-size: 11px;
        padding-bottom: 2vh;
        color: #656565;
    }
    .header-title{
        letter-spacing: 6px; 
    }
    button{
        color: map-get($colors, dark) !important;
    }
    .header-title.arabic{
        letter-spacing: 0 !important;
    }
}
